@import url(http://fonts.googleapis.com/css?family=Rambla:400,700);
nav {
	width: 100%;
	min-width: 1000px;
	background-color: #FFF;
	height: 5em;
	border-bottom: 3px solid #CCC;
	position: fixed;
	z-index: 1;
}
#links ul {
	width: 48%;
	min-width: 400px;
	height: 5em;
	padding: 0;
	float: right;
	margin: 0;
	text-align: center;
	list-style-type: none;
	font-family: 'Rambla', sans-serif;
	text-decoration: bold;
}
#links li {
	width: 100px;
	padding: 1.8em 0em 2em 0em;
	vertical-align: middle;
	display: inline-block;
}
#links ul :hover {
	background-color: #CCC;
}
#links ul li a {
	padding-top: 1.8em;
	padding-bottom: 2em;
}
#logo {
	width: 49%;
	height: 5em;
	float: left;
	padding-left: 30px;
}
footer {
	clear: both;
	color: #555;
	width: 75%;
	padding: 0px;
	min-width: 800px;
	height: 2em;
	margin: auto;
	font-size: 80%;
	font-family: 'Rambla', sans-serif;
}
body {
	margin: 0;
	background-color: #E3E3E3;	
}
a {
	text-decoration: none;
	color: inherit;
}
.container {
	background-color: #FFF;
	clear: both;
	margin: auto;
	border: 1px solid #CCC;
	padding: 10px;
	padding-top: 5em;
	padding-left: 30px;
	padding-right: 30px;
	width: 75%;
	min-width: 800px;
	z-index: 0;
	font-family: sans-serif;
}
.container img {
	display: block;
	margin: auto;
	padding-top: 20px;
}
.container ul {
	padding-left: 40%;
}
#formContainer {
	width: 450px;
	margin: 0 auto;
	overflow: visible;
}
#contform label {
	text-align: left;
    display:block;
}
#contform textarea {
	width: 400px;
	height: 100px;
}
#contform p {
	margin-bottom: 0;
}
#nameError {
	color: red;
	font-size: 80%;
	margin-top: 0;
}
#homeError {
	color: red;
	font-size: 80%;
	margin-top: 0;
}
#mobileError {
	color: red;
	font-size: 80%;
	margin-top: 0;
}
#enquiryError {
	color: red;
	font-size: 80%;
	margin-top: 0;
}